

.register-form input{
    margin: 20px;
    font-size: inherit;
    width: 97%;
    background-color: papayawhip;
    border-top:none;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    margin-left: 0;
    
  
  }
  
.register-form form {
    
    padding: 20px;
    width: 500px;
    
    background-color: papayawhip;
    height: 90%;
    font-size:20px ;
  }
.register-form   p{
    text-align: center;
    color: blue;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 30px;
  }
.register-form a{
    float: left;
    font-size: 30px;
  }
.register-form button{
    margin-left: 60px;
    width: 70%;
    background-color: blue;
    padding: 10px;
    color: white;
    letter-spacing: 5px;
    cursor: pointer;
    opacity: 50%;
  }
.register-form button:hover{
    opacity: 100%;
  }
  
  .register-form select{
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  .register-form h1{
    float: left;
    margin-left: 0px !important;
    position: absolute !important;
  }